@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #4a90e2;
  }

  html {
    -webkit-text-size-adjust: 100%;
    /* Chrome 54+, Chrome Android 54+, Edge 79+ */
    text-size-adjust: 100%;
  }

  body {
    @apply bg-gray-50 text-slate-900;
    font-family: 'Poppins', sans-serif;
  }
}

@layer utilities {
  .backdrop-blur-md {
    -webkit-backdrop-filter: blur(12px);
    /* Safari 9+ */
    backdrop-filter: blur(12px);
  }
}